body {
    background-color: var(--moe-tint7) !important;
    overflow: hidden; 
    position: relative;
    height: 100vh;
    width: 100vw;
}
.mp-container {
    font-family: "Space Mono", monospace;
    gap: 55pt;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: center;
}
img.logo {
    width: 80%;
    animation-name: movelag;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}
@keyframes movelag {
    0% {
        transform: translateY(0px);
    }
    49% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7px);
    }
    99% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0px);
    }
}
.mp-button {
    display: flex;
    gap: 15pt;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.mp-button img {
    height: 90px;
    transition: transform 0.3s ease;
}
.mp-button img:hover {
    transform: scale(1.4);
}
@media (max-width: 768px) {
	.mp-button {
		flex-direction: column;
	}
    .img.logo {
        width: 80%;
        order: -1; 
    }
	.mp-button img {
		width: 100%;
	}
}
.spark {
    position: absolute;
    opacity: 0;
    animation-name: twinkle; 
    animation-timing-function: ease-in-out;
}
@keyframes twinkle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}