body {
	background-color: var(--moe-tint1);
	color: var(--moe-tint6);
	font-family: "Space Mono", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 20px;
	overflow-x: hidden;
}
body::before {
	content: none;
}
#title {
	font-size: 32pt;
	font-weight: bold;
	color: white;
}
#creator {
	font-size: 12pt;
	color: var(--moe-tint5);
	font-weight: bold;
	padding-bottom: 20pt;
}
.container {
	text-align: center;
	max-width: 600px;
	width: 100%;
}
p {
	color: var(--moe-tint7);
}
.input-group {
	margin-top: 20px;
	margin-bottom: 20px;
}
input[type="text"] {
	padding: 12px;
	font-size: 16px;
	margin-bottom: 10pt;
	border-radius: 6pt;
	width: 70%;
	background-color: var(--moe-shade-min1);
	color: var(--moe-tint7);
	border: 2px solid var(--moe);
	font-family: "Space Mono", monospace;
	transition: var(--all);
}
input[type="text"]:focus {
	border-color: var(--moe-tint5);
	outline: none;
}
button {
	padding: 12px 20px;
	font-size: 16px;
	background-color: var(--moe-shade-max2);
	color: white;
	border: none;
	border-radius: 5pt;
	cursor: pointer;
	text-align: center;
	font-family: "Space Mono", monospace;
	font-weight: bold;
	transition: var(--all);
}
button:hover {
	background-color: var(--moe-shade-max3);
	transform: scale(1.05);
}
.loading {
	font-size: 24px;
	margin-top: 20px;
	color: var(--moe-tint7);
}
.result {
	font-size: 24px;
	margin-top: 20px;
	color: var(--moe-tint7);
}
.khodam-name {
	font-size: 42pt;
	font-weight: 800;
	color: white;
	text-shadow: 0 0 10px var(--moe-shade-max3);
}
#retryButton,
#shareButton {
	margin: 10px auto;
}
@media (max-width: 600px) {
	input[type="text"] {
		width: 100%;
	}
	button {
		width: 80%;
	}
	.khodam-name {
		font-size: 32pt;
	}
	.result {
		font-size: 20px;
	}
}