.fansub-partner {
    background-color: var(--moe-tint7);
    padding: 3rem 0;
    width: 100%;
}
#daftar-partner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
#daftar-partner h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--moe-shade-max1);
    margin-bottom: 2rem;
    border-bottom: 2px dashed var(--moe-tint4);
    padding-bottom: 10px;
}
.partner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
}
.partner-item-wrapper {
    position: relative;
    padding-bottom: 3px;
    padding-right: 3px;
    transition: transform 0.2s ease-in-out;
}
.partner-item-wrapper:hover {
    transform: translateY(-5px);
}
.partner-item-shadow {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    background: var(--moe-tint3);
    transform: translate(3px, 3px);
    clip-path: var(--pixel-update-clip-path-outer);
}
.partner-item {
    width: 100%; height: 100%;
    background-color: var(--moe-tint6);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2; 
    clip-path: var(--pixel-update-clip-path-outer);
}
.partner-item::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 3;
    background: var(--moe-shade-max1);
    clip-path: var(--pixel-update-clip-path-border);
    pointer-events: none;
}
.partner-item-thumb {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-color: var(--moe-shade-min1);
}
.partner-item-caption {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Hilangkan background-color dan color default dari sini */
.partner-tag {
    font-size: 0.7rem;
    padding: 3px 8px;
    align-self: flex-start;
    font-weight: bold;
    margin-bottom: 8px;
    clip-path: var(--pixel-update-clip-path-outer);
}

/* WARNA KHUSUS NOGIZAKA (Kuneeel) */
.partner-tag.kuneeel {
    background-color: var(--moe); 
    color: white;
}

/* WARNA KHUSUS SAKURAZAKA (Runsubs) */
.partner-tag.runsubs {
    background-color: white;
    color: #f29cd0;
    box-shadow: inset 0 0 0 1px #f29cd0; 
}

/* WARNA KHUSUS HINATAZAKA (S4H6NMICHI) */
.partner-tag.s4h6nmichi {
    background-color: #7cc7e8; /* Sky Blue Hinatazaka */
    color: white;
}

/* WARNA KHUSUS BOKUAO (HikamiSubs) */
.partner-tag.hikamisubs {
    background-color: #0B3F84;
    color: white;
}