.summary-title {
    font-size: 1.1em;
    margin-bottom: 1em;
    width: 90%;
}

.summary-table {
	margin-bottom: 2em;
    width: 90%;
	text-align: center;
	font-family: 'Space Mono', monospace;
}

.gen-section {
    width: 90%;
}

.gen-title {
	margin-top: 2em;
	font-size: 1.4em;
	border-bottom: 2px solid #888;
	padding-bottom: 4px;
}

.grad-header {
	margin-top: 4em;
	font-size: 1.6em;
	font-weight: bold;
	color: gray;
	border-top: 2px solid #aaa;
	padding-top: 10px;
	text-align: center;
}

.member-plat-id {
    font-size: 1.7em;
    font-weight: bold;
}


.member-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.member-data {
	width: 105px;
	text-align: center;
	border: 5px solid white;
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
	padding-bottom: 5pt;
	transition: all 0.3s ease;
	box-shadow: 0 0 0 0 black;
}

.member-data:hover {
	transform: scale(1.3);
	box-shadow: 0 0 11px 2px var(--moe-tint3);
	z-index:99;
}

.member-data img {
	width: 105px;
	height: 140px;
	object-fit: cover;
	transition: 0.3s;
}

.member-data .member-name {
	font-size: 0.9em;
	margin-top: 4px;
}

.member-data.graduated {
	border-color: gray;
}

.member-data.graduated .member-name {
	color: gray;
}

.member-data.active .member-name {
	color: black;
}