
:root {
    --bgnogi: #7e0f85 !important;
    --bgsaku: #f8749a !important;
    --bghina: #5bbee4 !important;
    --bgboku: #004491 !important;
    --bggradnogi: #3f0743 !important;
    --bggradkeya: #183315 !important;
    --bggradsaku: #f42e67 !important;
    --bggradhina: #14607d !important;
}

body {
	background-color: #1a1a2e;
	color: #e6e6fa;
	margin: 0 auto;
	padding-bottom: 100pt;
	/* padding: 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 80%;
	height: auto !important;
	animation: all 0.5s ease-in-out;
}

body::before {
	background-image: url("https://blogimg.goo.ne.jp/image/upload/f_auto,q_auto,t_image_sp_entry/v1/user_image/1c/28/fecdbe5f185bef594ddb1978e26bd3a1.jpg");
	content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}

.mapdata {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    border: 2pt solid white;
    border-radius: 10pt;
    align-items: center;
    margin: auto;
}

.mapdata #svg-container {
    width: 40%;
}

.mapdata .member-content {
    width: 60%;
}


#svg-container {
    width: 100%;
    height: 100%;
    cursor: grab;
    overflow: hidden;
    background-color: #0f0b43ad;
    border-radius: 10pt;
    /* margin: 25pt; */
}

#svg-container:active {
    cursor: grabbing;
}


/* ======================== */
/* ======================== */

.controls {
    position: sticky;
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-right: 10pt;
    bottom: 10pt;
    /* right: 10pt; */
    justify-content: flex-end;
    z-index: 99;
    align-items: flex-end;
    align-content: flex-end;
}

button {
    background-color: #B50E5F;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    width: 30pt;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: #B50E5F;
}

/* ======================== */
/* ======================== */
.land {
    /* fill: #6D0A3C; */
    stroke: #ff5e00;
    stroke-width: 15px;
    cursor: pointer;
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.text {
    fill: #FEFEFE;
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 0.3s ease;
	box-shadow: 10px 10px 5px 12px black;
}

/* Hover efek */
g:hover .land,
g.active .land {
    transform: scale(1.5);
    fill: #B50E5F;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.5));
}

g:hover .text,
g.active .text {
    transform: scale(2);
    fill: #FFD700;
}

g:hover ~ g .land {
    fill: #120510;
}

g.non-hover .land {
    fill: #120510;
}
/* Semua <g> lain jadi redup */
g.inactive .land {
    fill: #120510 !important;
}

g.inactive .text {
    fill: #FEFEFE !important;
}

/* Hover tetap bekerja meskipun ada yang aktif */
g:hover:not(.active) .land {
    fill: #B50E5F !important;
}

/* Saat hover, z-index ikut naik */
g.hovering {
    position: relative;
    z-index: 999;
}



.member-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 10pt;
    color: white;
}

.member-content > div {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.member-content > div.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.jp {font-size: 24pt; font-family: 'M PLUS Rounded 1c', sans-serif;}
.id {font-size: 12pt; font-family: 'Funnel Display', serif;}

.member {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.member div {
    padding: 5pt;
    min-width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.member img {
    aspect-ratio: 1;
    width: 70px !important;
    height: 70px !important;
    background-color: beige;
    object-fit: cover;
    border-radius: 50%;
}


.nogi, .saku, .hina, .boku, .gradn, .gradk, .grads, .gradh {
    margin: 5pt;
    align-items: center;
    margin: 5pt;
    /* border-style: solid; */
    /* border-width: 4pt; */
    border-radius: 15pt;
}


.nogi  {background-color:var(--bgnogi)}
.saku  {background-color:var(--bgsaku)}
.hina  {background-color:var(--bghina)}
.boku  {background-color:var(--bgboku)}
.gradn  {background-color:var(--bggradnogi)}
.gradk  {background-color:var(--bggradkeya)}
.grads  {background-color:var(--bggradsaku)}
.gradh  {background-color:var(--bggradhina)}


.member div .name-detail {
    display: flex;
    flex-direction: column;
}

.name-jp {
    font-size: 19pt;
    color: #ffffff9e;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.name-id {
    font-size: 20pt;
    font-family: 'Funnel Display', serif;
    font-weight: bold;
}

/* ======================== */
/* ======================== */

@media screen and (max-width: 1280px) {
	body {
		width: 95%;
		margin: 0 auto;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mapdata {
		flex-direction: column;
	}

	.mapdata #svg-container,.mapdata .member-content {
		width: 100%;
	}

	.mapdata #svg-container {
		height: 40%;
	}
	.mapdata .member-content {
		height: 60%;
	}
	.member-content {
		padding-right: 0pt;
	}
	.member div {
		padding: 0pt;
		min-width: 44%;
	}
	.member img {
		width: 50px !important;
		height: 50px !important;
		margin-right: 10pt;
	}
	.nogi, .saku, .hina, .boku, .gradn, .gradk, .grads, .gradh {
		border-radius: 20pt;
		overflow: hidden;
	}

	.name-jp {
		font-size: 10pt;
	}

	.name-id {
		font-size: 12pt;
		transform: scaleX(0.9);
		transform-origin: 0 0;
	}
}