body::before {
 	background-image: url('https://ik.imagekit.io/moearchive/web/bodybg/concert.jpg');
	content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}

* {
  transition: all 1s ease;
}


.slider-container {
	position: relative;
	width: 100%;
	/* max-height: 300px; */
	overflow: hidden;
	margin: auto;
	margin-bottom: 50px;
	border-radius:10pt;
	border:3pt solid white;
	padding:20pt 0pt 20pt 0pt;
    animation: height 1s ease-in-out;
  transition: .4s ease;
}

.slider-wrapper {
display: flex;
width: 500%; /* 5 slides * 100% */
transition: transform 0.5s ease-in-out;
}

	
.slide {
	flex: 0 0 20%; /* 100% / 5 */
	box-sizing: border-box;
	/* background:#ffffff59; */
	text-align: center;
	font-size: 2em;
}

.prev-btn, .next-btn {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    border: none;
    background: transparent;
    cursor: pointer;
	transition: 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
	color : rgb(var(--color-main-light));
}

.prev-btn {left: 10px;}
.next-btn {right: 10px;}



/* ------------------------------- */
/* --------- nama single --------- */
/* ------------------------------- */

.pvtitle {
	color : white;
	font-size:32pt;
	/* font-size:25pt; */
	font-weight: bold;
   }
   
.pvnum {
	color : rgb(var(--color-main-light));
    /* font-size: 12pt; */
    font-size: 24pt;
    text-align: center;
	padding-bottom:20pt;
} 
.pvnum:before {
    content:'～ ';
}
.pvnum:after {
    content:' ～';
}

/* ------------------------------- */
/* ------ pengaturan konten ------ */
/* ------------------------------- */

.pvcontainer {
    display: flex;
    width: 95%;
    padding: 10pt;
    margin: 0 auto;
    /* background: #7fffd43d; */
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}


/* ------------------------------- */
/* -------- pengaturan cd -------- */
/* ------------------------------- */

.cd-case {
    height: 250px;
    width: fit-content;
    padding-right: 10pt;
    padding-left: 20pt;
    margin: 0px 0px 0px 70px;
    display: inline-block;
    border-radius: 5px;
    background: rgb(255 255 255 / 27%);
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.6), inset 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 5px 1px rgba(255,255,255,0.6), inset 0px 0px 0px 1px rgba(255,255,255,0.2);
}

.album-art {
    height: 240px;
    width: auto;
    border-radius: 3px;
    position: relative;
    top: 4px;
    left: 8px;
}

.spine {
    height: 180px;
    width: 15px;
    background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.07) 100%);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.23), inset 0px 0px 7px 0px rgba(0,0,0,0.22), inset 0px 0px 0px 1px rgba(255,255,255,0.22);
    border-radius: 0 50% 50% 0;
    z-index: -1;
    display: block;
    position: relative;
    transform: translateY(-116%);
    left: -20pt;
}


/* ------------------------------- */
/* ------- pengaturan data ------- */
/* ------------------------------- */


.pvcolumn {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.pvcolumn a { /* width yg udah ada link hardsubnya */
    width: 100%;
	display: flex;
}

.pvcolumn .pvclick { /* width yg udah ada link hardsubnya */
    width: 100%;
    display: block;
    border: 2pt solid white;
    box-shadow: 3px 3px 0px 1px #ffffff96;
    -webkit-box-shadow: 3px 3px 0px 1px #ffffff96;
    -moz-box-shadow: 3px 3px 0px 1px #ffffff96;
}

/* ------- nama lagu ------- */

.pvclick {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 16pt;
	border-width: 1pt 0px 1pt 0px;
	border-style: solid;
	border-color: white;
    text-align: left;
    margin-bottom: 10pt;
    padding: 5pt;
}

/* ------- tipe ------- */

.pvtypex:before, .pvtypea:before, .pvtypeb:before, .pvtypec:before, .pvtyped:before, .pvtypereg:before, .pvtype711:before {
    border-radius: 2pt;
    background: #9a19ff;
    padding: 3pt;
    margin-right: 5pt;
    margin-top: 5pt;
}

.pvtypex, .pvtypea, .pvtypeb, .pvtypec, .pvtyped, .pvtypereg, .pvtype711 {
}

.pvtypex:before { content: '全'; }
.pvtypea:before { content: 'A'; }
.pvtypeb:before { content: 'B'; }
.pvtypec:before { content: 'C'; }
.pvtyped:before { content: 'D'; }
.pvtypereg:before { content: '通常盤'; }
.pvtype711:before { content: '7-11'; }

/* ------- member unit ------- */

.pvclick span {
    font-size: 12pt;
    display: block;
    margin-top: 2pt;
    margin-left: -3pt;
    padding: 3pt;
    color: #b3b3b3;
    mix-blend-mode: difference;
}

/* ------- hardsubnya di encode apa coy ------- */

.pvnot {
    opacity: 60%;
    background: #606060;
    border: 0px;
    border-radius: 5pt;
    color: white;
    cursor: not-allowed;
	width:auto;
}

.pvid  {
    background: rgb(var(--color-main),0.5);
    border: 0px;
    border-radius: 5pt;
    color: white;
    padding: 5px 10pt 5pt 10pt;
	margin-top:5pt;
    transition: 0.3s all ease-in-out;
	width:auto;
}
.pvid:hover {
    background: rgb(var(--color-main-light));
    color: rgb(var(--color-main-dark));
}



/* ------------------------------- */
/* ------- ikon ------- */
/* ------------------------------- */


.icon-group {
  position: relative;
  padding-left: 40px;
}

.icon-group::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 45px;
    background-size: cover;
}

.icon-hinata::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Hinatazaka46_logomark_2021.svg/1200px-Hinatazaka46_logomark_2021.svg.png');
}

.icon-sakura::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sakurazaka46_logo.svg/152px-Sakurazaka46_logo.svg.png');
}

.icon-bokuao::before {
  background-image: url('https://yt3.googleusercontent.com/BLTAEO75GoEUHlfp6LeJuKvI3mkN6rpa2H0Ut91RXTTZAKAhoBwds_DBw3XQCu_j0Zx-sxcx=s900-c-k-c0x00ffffff-no-rj');
}
.icon-akb::before {
  background-image: url('https://48pedia.org/images/thumb/1/18/AKB48%E3%83%AD%E3%82%B4.jpg/250px-AKB48%E3%83%AD%E3%82%B4.jpg');
}



/* ------------------------------- */
/* ------- versi mobile ------- */
/* ------------------------------- */



@media screen and (max-width: 1280px) {
/* .cd-case, .album-art, .spine { */
	/* display: none; */
/* } */

	.slider-wrapper {
		width: 100%;	
	}
	.pvcontainer {
		display: flex;
		flex-direction: column;
	}
	.slider-wrapper {
		display: flex;
		width: 100%;
		margin: 0 auto;
		overflow-y: hidden;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		align-content: center;
	}
	.pvtitle {
		font-size: 20pt;
		padding: 20pt 20pt 0pt 20pt;
		border-width: 3px 0px 0px 0px;
		border-style: solid;
		border-color: white;
		width: 70%;
		margin: 0 auto;
	}
	.pvclick {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 12pt;
		margin-bottom: 10pt;
	}
	.slider-wrapper {
		display: block;
		width: 100%;
		margin: 0 auto;
		overflow-y:hidden;
	}
	.prev-btn, .next-btn {
		display : none;
	}

	.cd-case {
		margin: 0px 0px 20px 0px;
	}
	.pvcolumn {
		width: 95%;
		flex: auto;
	}
	.pvclick span {
		display: none;
	}
	.icon-group {
		padding-left: 20px;
	}
	.icon-group::before {
		width: 15px;
		height: 25px;
	}

}