.hbd-container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hbd {
    position: relative;
    width: 100%;
    background: #ffffff1f;
    padding: 15px;
    border-radius: 10pt;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5pt;
}

.hbd::before {
  content: "🎉";
  font-size: 70px;
  color: #ffffff;
  opacity: 0.75;
  position: absolute;
  left: 8px;
  top: 46%;
  transform: translateY(-50%);
  overflow: hidden;
}

.hbd::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: auto;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 0pt 10pt 10pt 0pt;
    filter: opacity(0.9);
}

.hbd-content {
  text-align: center;
  color: #fff;
}

.hbd-content p {
  margin: 2px 0;
}

.hbd-content p:nth-of-type(1) {  
  font-size: 18px;
}

.hbd-content p:nth-of-type(2) {  
  font-size: 24px;
}

.hbd-content p:nth-of-type(3) { 
  font-size: 18px;
}


.hbd-content p span {
  font-weight: bold;
  color: #ffd700;
}


/* --------------------- */

@media (min-width: 0px) and (max-width: 720px) {
.hbd-container {
	width: 80%;
}

.hbd {
    padding: 10px;
}
.hbd::before {
  content: "";
}	
.hbd-content {
    text-align: left;
	z-index: 3;
	left: 10pt;
}

.hbd-content p {
  margin: 0px;
}

.hbd-content p:nth-of-type(1) {  
  font-size: 14px;
}

.hbd-content p:nth-of-type(2) {  
  font-size: 20px;
}

.hbd-content p:nth-of-type(3) { 
  font-size: 14px;
}

}