body {
	background-color: #1a1a2e;
	color: #e6e6fa;
	margin: 0 auto;
	padding-bottom: 100pt;
	/* padding: 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	height: auto !important;
	animation: all 0.5s ease-in-out;
}

body::before {
 	background-image: url('https://ik.imagekit.io/moearchive/web/bodybg/concert.jpg');
	content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}
@media screen and (max-width: 1280px) {
body {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.titlehead {
    margin-top: 110px;
}

#headtitle {
    font-size: 32pt;
    font-weight: bold;
    padding-top: 10pt;
    padding-bottom: 20pt;
    text-align: center;
}

.desc {
	width: 80%;
	font-size:14pt;
	text-align: justify;
}

/* ==================== */
.hatsulist-container {
    display: flex;
    margin: 0 auto;
    border: 5pt solid rgb(var(--color-main-bright));
    border-radius: 10pt;
    width: 80%;
    flex-direction: column;
}

.singlelist {
	display:flex;
	margin: 0 auto;
	/* border: 2pt solid white; */
	/* border-radius:5pt; */
	width: 100%;
	/* gap: 5pt; */
}

.singlepict img {
	max-width:200px;
	height:auto;
}

.singledetail {
    width: 100%;
}

.singledetail p {
    font-size: 24pt;
    font-weight: bold;
    background: rgb(var(--color-main-bright));
    width: 100%;
    display: block;
    padding: 6pt;
}

.whohatsu {
    padding: 10pt;
}

.whohatsu span {
    font-size: 18pt;
}

.whohatsu img {
	background: white;
	width: 80pt;
	height: 80pt;
	border-radius: 50%;
	border: 3px solid rgb(var(--color-main-bright));
	object-fit: cover;
	padding:0pt;
	margin: 3pt;
}



/* ======================= */

.hatsulist-belumsempat {
    display: flex;
    margin: 0 auto;
	margin-top: 20pt;
    border: 5pt solid rgb(var(--color-main-bright));
    border-radius: 10pt;
    width: 80%;
    flex-direction: column;
}
.belum-masihaktif, .belum-sudahgrad {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    /* border: 1pt solid white; */
	width: 100%;
}

.belum-masihaktif .text,
.belum-sudahgrad .text {
    width: 30%;
    align-content: center;
    background: rgb(var(--color-main-light), 0.4);
    padding: 10pt;
}

.text span {
	font-size:16pt;
}

.belum-masihaktif .member,
.belum-sudahgrad .member {
	width: 70%;
	padding: 10pt;
}

.belum-masihaktif .member img,
.belum-sudahgrad .member img {
	background: white;
	width: 80pt;
	height: 80pt;
	border-radius: 50%;
	border: 3px solid rgb(var(--color-main-bright));
	object-fit: cover;
	padding:0pt;
	margin: 3pt;	
}