body::before {
	background-image: url("https://blogimg.goo.ne.jp/image/upload/f_auto,q_auto,t_image_sp_entry/v1/user_image/1c/28/fecdbe5f185bef594ddb1978e26bd3a1.jpg");
	content: "";
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
}

input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    background: #9a19ff;
    color: #fff;
    text-align: center;
    font-size: 13pt;
    border-radius: 5pt;
    cursor: pointer;
    transition: all .6s;
}
input[id^="spoiler"]:hover {
  background: #9a19ff;
}
input[id^="spoiler"]:checked + label {
  color: #9a19ff;
  background: #ccc;
}
input[id^="spoiler"] ~ .spoiler {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    padding: 10px;
    background: transparent;
    border: 5px solid #9a19ff;
    border-radius: 15px;
    transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}

img.magz {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10), 0 10px 6px 0 rgba(0, 0, 0, 0.20);
}


/* di dalam gambar */

.magz-container {
    margin-top: 70pt;
    margin-bottom: 70pt;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.magz-container #headtitle {
    color: white;
}
.image-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5pt;
}

.image-mode img {
    border-radius: 5pt;
}

.magz-container .text-mode {
  display: none;
}

.text-mode {
	display: none;
	/* display: flex; */
	flex-direction: column;
	gap: 5pt;
	color: white;
}

.text-mode div {
    display: flex;
    flex-direction: column;
    gap: 10pt;
    padding-bottom: 20pt;
    border-width: 0pt 0pt 1pt 0pt;
    border-color: #ffffff63;
    border-bottom-style: dashed;
    text-align: justify;
}

.text-mode div .q {
    color: #c681ff;
    font-weight: bold;
    /* font-style: italic; */
    font-size: 16pt !important;
}

.text-mode div .a {
    color: white;
    line-height: 21pt;
    text-align: justify;
}

#toggleButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toggleButton:hover {
  background-color: #0056b3;
}
