* {
	transition: all 0.2s ease-in-out;
}
body {
	background-color: #1a1a2e;
	color: #e6e6fa;
	margin: 0 auto;
	padding-bottom: 100pt;
	/* padding: 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	height: auto !important;
	animation: all 0.5s ease-in-out;
}

body::before {
 	background-image: url('https://ik.imagekit.io/moearchive/web/bodybg/concert.jpg');
	content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}
@media screen and (max-width: 1280px) {
body {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
/* Font untuk romaji/alfabet */
.font-romaji {
    font-family: 'Funnel Display', serif;
}

/* Font untuk karakter Jepang */
.font-japanese {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.titlehead {
    margin-top: 110px;
}

#headtitle {
    font-size: 32pt;
    font-weight: bold;
    padding-top: 10pt;
    padding-bottom: 20pt;
    text-align: center;
}

.desc {
	width: 80%;
	font-size:14pt;
	text-align: justify;
}

/* ==================== */

.sns-container, .official-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5pt;
}
.sns-container {
    width: 80%;
    justify-content: space-between;
}
.official-container {
    width: 100%;
    justify-content: center;
}


.member {
    display: flex;
    background: rgb(var(--color-main-dark1), 0.4);
    margin: 0 auto;
    border: 0pt solid rgb(var(--color-main-bright));
    border-radius: 15pt;
    /* flex-direction: row; */
    flex-direction: column;
    align-content: center;
    padding: 5pt;
    width: 32%;
    align-items: center;
    margin: 5pt 0pt;
    background: rgb(255 255 255 / 7%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

	.official-container .member {
		width: 80% !important;
	}

.name {
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #000000; */
}
.name img {
    background: white;
    width: 80pt;
    height: 80pt;
    border-radius: 50%;
    /* border: 3px solid rgb(var(--color-main-bright)); */
    object-fit: cover;
    padding: 0pt;
    margin: 3pt;
}

	.official-container .name .ro {
		font-size: 24pt;
	}

.name .ro {
    font-size: 16pt;
    font-weight: bold;
    padding: 0pt;
    text-align: center;
}

.name .jp {
    font-size: 12pt;
    font-weight: normal;
    padding-bottom: 5pt;
    text-align: center;
}


/* ================================ */
.data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*  bentuk utama */
.insta, .inspb, .web, .youtube, .twitter, .twittpb, .tiktok, .weibo,
.spotify, .linemusic, .applemusic, .amazonmusic {
    border: 0pt solid white;
    border-radius: 15pt;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: 20pt;
    padding-left: 5pt;
    padding-right: 5pt;
    margin: 3pt;
    position: relative;
    align-content: center;
    align-items: center;
    font-size: 10pt;
    color: white;
	transition: all 0.2s ease-in-out !important;
}

.insta:before, .web:before, .youtube:before,
.twitter:before,.twittpb:before, .tiktok:before, .weibo:before,
.spotify:before, .linemusic:before, .applemusic:before, .amazonmusic:before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

/* icon */

.insta:before, .inspb:before {
    background-image: url('../ico/ig.png');
}
.web:before {
    background-image: url('../ico/ww.png');
}
.youtube:before {
    background-image: url('../ico/yt.png');
}
.twitter:before {
    background-image: url('../ico/x.png');
}
.twittpb:before {
    background-image: url('../ico/x.png');
	filter: invert(1);
}

.tiktok:before {
    background-image: url('../ico/tk.png');
}
.weibo:before {
    background-image: url('../ico/we.png');
}

.spotify:before{
    background-image: url('../ico/spb.png');
}

.linemusic:before{
    background-image: url('../ico/lim.png');
}

.applemusic:before{
    background-image: url('../ico/apmg.png');
}

.amazonmusic:before{
    background-image: url('../ico/amz.png');
}




/* background warna */

.web {
	background: linear-gradient(45deg, #ffffff 0%, rgb(191,191,191) 100%);
    color: purple;
}
.insta {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
}

.inspb {
    background: #bc1888;
    color: white;
}

.youtube {
    background: linear-gradient(90deg, #FD6362 0%, #F7358C 100%);
    color: white;
}
.twitter {
    background: black;
}
.twittpb {
    background: white;
    color: black !important;
}

.tiktok {
    background: linear-gradient(45deg, #7AF5FE 0%, #0AEFFF 15%, #3BCBF3 50%, #FF3CA9 100%);
    color: black !important;
}

.weibo {
    background: linear-gradient(180deg, #FFEEA4 0%, #FFD83F 100%);
    color: #E6162D !important;
}


.spotify {
    background: #25D865;
    color: black !important;
}

.linemusic {
    background: #0EE072;
    color: white !important;
}

.applemusic {
   background: linear-gradient(125deg, rgba(240,87,100,1) 0%, rgba(215,106,152,1) 30%, rgba(143,96,255,1) 63%, rgba(59,161,237,1) 100%);
    color: white !important;
}

.amazonmusic {
    background: #3CD0D9;
    color: white !important;
}


/* hover */

.insta:hover {
    background: linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
    color: white;
}

.inspb:hover {
    background: #e6683c;
    color: white;
}
.web:hover {
	background: purple;
    color: white !important;
}

	.web:hover:before {
		filter: grayscale() brightness(3) contrast(3) ;
	}

.twitter:hover {    
	background: white !important;
	color: black !important;
}

	.twitter:hover:before {
		filter: invert(1);
	}

.twittpb:hover {    
	background: black !important;
	color: white !important;
}

	.twittpb:hover:before {
		filter: invert(0);
	}

.youtube:hover {    
	background: white !important;
	color: #FF0033 !important;
}

.tiktok:hover {
    background: black !important;
    color: #08F2EB !important;
}

.weibo:hover{
    background: #E64054! important;
    color: #FFD83F! important;
}
.spotify:hover {
    background: black !important;
    color: #25D865 !important;
}
.spotify:hover:before{
    background-image: url('../ico/spa.png');
}

.linemusic:hover {
    background: white;
    color: #0EE072 !important;
}

.linemusic:hover:before{
    background-image: url('../ico/limb.png');
}

.applemusic:hover {
   background: linear-gradient(326deg, rgba(240,87,100,1) 0%, rgba(215,106,152,1) 30%, rgba(143,96,255,1) 63%, rgba(59,161,237,1) 100%);
    color: white !important;
}

.applemusic:hover:before{
    background-image: url('../ico/apmg.png');
}

.amazonmusic:hover {
    color: #3CD0D9 !important;
    background: white !important;
}
/* ======================= */

@media only screen and (min-width: 700px) and (max-width: 1280px) {
	
.member {
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 8pt;
    width: 45%;
}
}

@media only screen and (max-width: 700px) {
	
.member {
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 8pt;
    width: 100%;
}

.name {
    width: 100%;
	padding:0;
}
.name img {
    width: 60pt;
    height: 60pt;
}
.name .ro {
    font-size: 18pt;
}
.name .jp {
    font-size: 14pt;
}
.data {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.insta, .web, .youtube, .twitter, .tiktok, .weibo {
    justify-content: center;
	font-size:10pt;
}

}