body::before {
 	background-image: url('https://blogimg.goo.ne.jp/image/upload/f_auto,q_auto,t_image_sp_entry/v1/user_image/1c/28/fecdbe5f185bef594ddb1978e26bd3a1.jpg');
	content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}

* {
  transition: all .3s ease-in-out;
}

#headtitle span {
    background-color: #443ffc96;
    padding: 5pt;
    border-radius: 5pt;
    font-size: medium;
    font-weight: 100;
    align-items: center;
    position: absolute;
}
.iconcategorytitle {
    font-size: 24pt;
    text-align: center;
    background-color: #ededed33;
	margin-top: 10pt;
    padding: 10pt;
    border-radius: 10pt;
}

.iconcategory {
    font-size: 16pt;
    text-align: center;
    padding: 10pt;
    border-radius: 10pt;
}

.iconcomingsoon {
    font-size: 12pt;
    text-align: center;
    font-style: italic;
    color: grey;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

#dash {
	width:100%;
    border-bottom-width: 2pt;
    border-bottom-style: dashed;
    border-bottom-color: white;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

.iconlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

.iconlist div {
    width: 16%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12pt;
    opacity: 80%;
	transform: scale(0.95);
}

.iconlist div:hover {
	transform: translateY(-10px) scale(1.1);
    opacity: 100%;
}
.iconlist div img {
    width: 100%;
}


/* ----------------- */
/* untuk promo bundle */
/* ----------------- */



.downbundle {
    margin: 0 auto;
    margin-top: 20pt;
    margin-bottom: 20pt;
    display: flex;
    background: #8633cdcf;
    width: 50%;
    border: 2pt solid white;
    border-radius: 15pt;
    box-shadow: 5px 5px;
}

div#bundlecaption {
    /* border: 1pt solid white; */
    width: 70%;
    align-self: center;
    height: 200px;
    padding: 20pt;
}
#bundlecaption span {
    font-size: 18pt;
}
#bundlecaption p {
    font-size: 9pt;
	font-style:italic;
}

#bundlecaption a {
    display: block;
    border: 2pt solid white;
    border-radius: 7pt;
    text-align: center;
    width: max-content;
    margin-top: 15pt;
    padding: 5pt;
    background: #c1101f;
}
#bundlecaption a:hover {
    background: white;
    border: 2pt solid #c1101f;
    color: #c1101f;
	font-weight:bold;
}

div#bundleimg {
    /* border: 1pt solid yellow; */
    width: 30%;
    display: inline-table;
    padding: 20pt;
	align-self: center;
}
#bundleimg img {
    width: 140px;
}


/* ----------------- */
/* kondisional */
/* ----------------- */


@media screen and (max-width: 720px) {
.iconlist div {
    width: 45%;
    font-size: 10pt;
}
.downbundle {
    width: 100%;
}

div#bundlecaption, div#bundleimg {
    padding: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
	inline-size: fit-content;
}

#bundlecaption span {
    font-size: 14pt;
}

#bundlecaption a {
    width: 80%;
}

#bundlecaption p {
    font-size: 9pt;
}


#bundleimg img {
    width: 100px;
}
}

@media screen and (min-width: 720px) and (max-width: 1280px) {
.iconlist div {
    width: 32%;
    font-size: 11pt;
}
.downbundle {
    width: 85%;
}
}


