* {
  transition: all .3s ease-in-out;
}

#headtitle span {
    background-color: #443ffc96;
    padding: 5pt;
    border-radius: 5pt;
    font-size: medium;
    font-weight: 100;
    align-items: center;
    position: absolute;
}
.iconcategorytitle {
    font-size: 24pt;
    text-align: center;
    background-color: #ededed33;
	margin-top: 10pt;
    padding: 10pt;
    border-radius: 10pt;
}

.iconcategory {
    font-size: 16pt;
    text-align: center;
    padding: 10pt;
    border-radius: 10pt;
}

.iconcomingsoon {
    font-size: 12pt;
    text-align: center;
    font-style: italic;
    color: grey;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

#dash {
	width:100%;
    border-bottom-width: 2pt;
    border-bottom-style: dashed;
    border-bottom-color: white;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

.iconlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

.iconlist div {
    width: 16%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12pt;
    opacity: 80%;
	transform: scale(0.95);
}

.iconlist div:hover {
	transform: translateY(-10px) scale(1.1);
    opacity: 100%;
}
.iconlist div img {
    width: 100%;
}


@media screen and (max-width: 720px) {
.iconlist div {
    width: 45%;
    font-size: 10pt;
}
}

@media screen and (min-width: 720px) and (max-width: 1280px) {
.iconlist div {
    width: 32%;
    font-size: 11pt;
}
}