:root {
    --bgnogi: #8b57ad;
    --bgkeya: #1b6a21;
    --bgsaku: #f3a1b8;
    --bghina: #7bcaea;
    --bgboku: #007aaf;
    --bggradnogi: #281832;
    --bggradkeya: #0e3711;
    --bggradsaku: #4b0a1c;
    --bggradhina: #0b3344;
}


.nogi .pictm { background:var(--bgnogi); border: 4px solid white;  }
.hina .pictm { background:var(--bghina); border: 4px solid white;  } 
.saku .pictm { background:var(--bgsaku); border: 4px solid white;  }
.boku .pictm { background:var(--bgboku); border: 4px solid white;  }
.gradn .pictm { background:var(--bggradnogi); border: 4px solid #373737; }
.gradk .pictm { background:var(--bggradkeya); border: 4px solid #373737; }
.gradh .pictm { background:var(--bggradhina); border: 4px solid #373737; }
.grads .pictm { background:var(--bggradsaku); border: 4px solid #373737; }


.nogi .mem-data .gen { background:var(--bgnogi); border: 2px solid white;  }
.hina .mem-data .gen { background:var(--bghina); border: 2px solid white;  } 
.saku .mem-data .gen { background:var(--bgsaku); border: 2px solid white;  }
.boku .mem-data .gen { background:var(--bgboku); border: 2px solid white;  }
.gradn .mem-data .gen { background:var(--bggradnogi); border: 2px solid #373737;  }
.gradk .mem-data .gen { background:var(--bggradkeya); border: 2px solid #373737; }
.gradh .mem-data .gen { background:var(--bggradhina); border: 2px solid #373737; }
.grads .mem-data .gen { background:var(--bggradsaku); border: 2px solid #373737; }


.nogi .jptx, .gradn .jptx { color:var(--bgnogi);}
.hina .jptx, .gradh .jptx { color:var(--bghina);}
.saku .jptx, .grads .jptx { color:var(--bgsaku);}
.boku .jptx { color:var(--bgboku);}
.gradk .jptx { color:var(--keya);}

.nogi .romaji, .gradn .romaji { color:var(--bgnogi);}
.hina .romaji, .gradh .romaji { color:var(--bghina);}
.saku .romaji, .grads .romaji { color:var(--bgsaku);}
.boku .romaji { color:var(--bgboku);}
.gradk .romaji { color:var(--keya);}

/* ---------------- */
/* KEADAAN NORMAL */
/* ---------------- */

.namabulan {
    background: #6d6d6d;
    color: #fff;
	font-size: 24pt;
	font-weight: 800;
    border: 2pt solid #6d6d6d;
    border-radius: 6pt;
    width: 100%;
    display: block;
    padding: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.calenderlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 10pt; */
    /* background: blueviolet; */
    width: 100%;
    justify-content: center;
}
.calenderlist div {
    flex: 1 0 30%;
    margin: 10px;
}

.datec {
    background: #8b57ad;
    color: white;
    border: 2pt solid white;
    border-radius: 10pt;
    margin: 0 auto;
    text-align: center;
    font-size: 72pt;
    font-weight: 900;
}

  .hidden {
    display: none;
  }
  
/* konten dalam tabel sakamichi calendar */    
       
.nogi, .hina, .saku, .boku, .gradn, .gradk, .gradh, .grads {
    border-radius: 10px;
    position: relative;
    color: white;
    height: 94pt;
    max-width: 32%;
    border: 2px solid white;
}
/* .nogi, .hina, .saku .boku { */
    /* border: 2px solid white; */
/* } */

/* .gradn, .gradk, .gradh, .grads { */
    /* border: 3px solid #373737; */
	/* background-color:#37373700; */
    /* filter: grayscale(0.5) brightness(0.5); */
	/* transition: all 0.3s ease-in-out; */
/* } */

/* .gradn:hover, .gradk:hover, .gradh:hover, .grads:hover { */
    /* border: 3px solid white; */
    /* filter: grayscale(0) brightness(1); */
/* } */

/* .gradn:hover, .gradk:hover, .gradh:hover, .grads:hover { */
	/* background-color:#281832; */
/* } */

   
.img-block {
    width: 30%;
    height: 70%;
    background: blue;
}   
.mem-data {
    width:70%;
} 

  
.pictm {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.pictm img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.gen {
    height: 40px;
    width: 40px;
    padding: 3pt;
    border-radius: 50%;	
	color:white; 
    font-size: 12pt;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -82pt;
    left: 42pt;
    line-height: 23pt;
}

.gradn img, .gradk img, .gradh img, .grads img {
	filter: grayscale(50%); 
	filter: opacity(90%); 
 }
.nogi .jptx, .hina .jptx, .saku .jptx, .boku .jptx, .gradn .jptx, .gradk .jptx, .gradh .jptx, .grads .jptx {
    position: absolute;
    margin: 0;
    top: 12%;
    transform: translate(0, -20%);
    right: 5%;
    font-size: 22pt;
}

.nogi .romaji, .hina .romaji, .saku .romaji, .boku .romaji, .gradn .romaji, .gradk .romaji, .gradh .romaji, .grads .romaji {
    position: absolute;
    margin: 0;
    top: 45%;
    transform: translate(0, -50%);
    right: 5%;
    font-size: 15pt;
}

.nogi .date, .hina .date, .saku .date, .boku .date, .gradn .date, .gradk .date, .gradh .date, .grads .date {
    position: absolute;
    margin: 0;
    top: 55%;
    font-weight: bold;
    font-size: 13pt;
    right: 5%;
}

.countupdate {
    position: absolute;
    margin: 0;
    top: 65%;
    font-weight: 400;
    font-size: 12pt;
    right: 2%;
    color: yellow;
}

/* ------------------------ */
/* BUTTON HIDE & SHOW */
/* ------------------------ */
  
.dropdown {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8pt;
}

.dropdown-btn {
    padding: 10pt;
    font-size: 18pt;
    font-weight: 600;
    font-family: 'Ubuntu';
    border-radius: 8pt;
    color: white;
    width: 8%;
    background: transparent;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.all-btn { border: 3pt solid white; }
.nogi-btn { border: 3pt solid var(--bgnogi); }
.hina-btn { border: 3pt solid var(--bghina); } 
.saku-btn { border: 3pt solid var(--bgsaku); }
.boku-btn { border: 3pt solid var(--bgboku); }
.gradn-btn { border: 3pt solid var(--bggradnogi); }
.gradk-btn { border: 3pt solid var(--bggradkeya); }
.gradh-btn { border: 3pt solid var(--bggradhina); }
.grads-btn { border: 3pt solid var(--bggradsaku); }


.dropdown-btn:focus {
    transition: background-color 0.5s ease-in-out;
}
.all-btn:focus, .all-btn:active { background-color: #b7b7b7; }
.nogi-btn:focus, .nogi-btn:active { background-color: var(--bgnogi); }
.hina-btn:focus, .hina-btn:active { background-color: var(--bghina); } 
.boku-btn:focus, .boku-btn:active { background-color: var(--bgboku); }
.saku-btn:focus, .saku-btn:active { background-color: var(--bgsaku); }
.gradn-btn:focus, .gradn-btn:active { background-color: var(--bggradnogi); }
.gradk-btn:focus, .gradk-btn:active { background-color: var(--bggradkeya); }
.gradh-btn:focus, .gradh-btn:active { background-color: var(--bggradhina); }
.grads-btn:focus, .grads-btn:active { background-color: var(--bggradsaku); }



/* ------------------------ */
/* KEADAAN DI HANDPHONE */
/* ------------------------ */

@media only screen and (min-width: 300px) and (max-width: 900px){
	.dropdown-btn {
		flex: 1 0 17%;
	}
	.calenderlist div {
		flex: 1 0 100%;
	}
	.nogi, .hina, .saku, .boku, .gradn, .gradk, .gradh, .grads {
		max-width: 100%;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1366px){
	.dropdown-btn {
		flex: 1 0 17%;
	}
	.calenderlist div {
		flex: 1 0 45%;
	}
	.nogi, .hina, .saku, .boku, .gradn, .gradk, .gradh, .grads {
		max-width: 50%;
	}
}
