/* html { */
    /* filter: grayscale(0.75); */
/* } */

body {
    background-color: #12021f;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: "Ubuntu";
    overflow-x: hidden;
    width: 80%;
    left: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
body {
    margin: 0 auto;
    padding: 5px;
}
}


/* ------------------------------------------ */
/* Main properties */
/* ------------------------------------------ */


a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

a:focus,
episode_nogi:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
}

a:focus:not(:focus-visible),
episode_nogi:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
episode_nogi:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid #443ffc;
    outline-offset: 3px;
}

a:focus-visible {
    background: none;
}

/* li{ */
	/* list-style-type: bullet; */
	/* padding: 0; */
	/* margin: 0; */
/* } */

.justify {
    line-height: 26pt;
    text-align: justify;
    font-size: 16pt;
    font-weight: 100;
    margin-bottom: 15pt;
}
.hiddd {
	display:none;
}


.titlehead {
    margin-top: 110px;
}

#headtitle {
	font-size: 32pt;
	font-weight:bold;
	padding-top: 10pt;
	padding-bottom: 20pt;
	text-align: left;
}

#headtitle {
	text-align: center;
	/* text-align-last:center; */
}



.jp100 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.jp300 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.jp {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jp500 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.jp700 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jp800 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.jp900 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ------------------------------------------ */
/* RECTANGLE PEMISAH KONTEN DENGAN FOOTER */
/* ketika berada dalam posisi PC */
/* ------------------------------------------ */

.rectangle {
    height: 50px;
    width: 100%;
    /* background-color: rgb(255 0 0 / 53%); */
    padding-bottom: 4em;
}

@media (max-width: 1280px) {
.rectangle {
	display:none;
}
}