/* html { */
    /* filter: grayscale(0.8); */
/* } */

body {
    background-color: #12021F;
    /* background-color: #1e0e00; */
    margin: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: 'Ubuntu';
    overflow: hidden;
}
body::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
}

.bodymainindex {
	overflow-x:hidden;
	overflow-y:hidden;
}
a {
	text-decoration:none;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #12021f5c;
    padding: 10pt;
    border-radius: 10pt;
}

#logo {
	/* margin-bottom: 20px; */
	position: fixed;
	margin: 0 auto;
	z-index: -1;
}

#logo img {
	width: 100px;
	opacity: 0.8;
}

img.kakki {
    position: absolute;
    width: 138px;
    filter: brightness(0.9) contrast(0.9) blur(0.5px);
    translate: 0% -100%;
}
#fansub {
    font-size: 24pt;
    letter-spacing: -0.05em;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    /* background-size: cover; */
    /* color: #22043b; */
    color: white;
    padding-bottom: 10pt;
}

#motto {
    margin-bottom: 20px;
    font-size: small;
    opacity: 0.5;
}

#buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

#site-map {
  background-color: #6A0572;
  color: #FFF8DC;
}

#ensiklopedia {
  background-color: #FFF8DC;
  color: #6A0572;
}

#latest-update {
  text-align: left;
  max-width: 600px;
}
	
	
.buttonindex {
	cursor: pointer;
    border: 2pt solid white;
    border-radius: 3pt;
    padding: 5pt;
    width: 20%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 0.3s; */
}	

.buttonindex:hover {
    width: 25%;
    border: 2pt solid #6a0572a3;
	background: #6a0572a3;
    border-radius: 5pt;
}


/* ================ */
/* FORM PASSWORD */
/* ================ */

#passwordForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    /* padding-top: 20pt; */
}

.input-container {
    position: relative;
    width: 100%;
}

input {
    width: 100%;
    height: 46px;
    padding-right: 40px;
    font-size: 20pt;
    border: 2px solid #12021fd9;
    border-radius: 6pt;
    background-color: #12021fd9;
    color: #ffffff;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Ubuntu';
    cursor: text;
    mix-blend-mode: overlay;
}

input[type=password]::-ms-reveal, input[type=password]::-ms-clear {
    display: none;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
}

.buttonx {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10pt;
    padding-bottom: 5pt;
}

.okbutton {
    font-size: 15pt;
    cursor: pointer;
    font-family: 'Ubuntu';
    font-weight: bolder;
    background-color: #ffac64;
    padding: 7pt;
    text-align: center;
    width: 20%;
    border-radius: 6pt;
    margin-top: 10pt;
    transition: background-color 0.5s ease-in-out;
    mix-blend-mode: hard-light;
}
.okbutton:before {
    content: 'OK';
}

.okbutton:hover {
    background-color: #ee7c18;
}


@media only screen and (max-width: 600px) {
#fansub {
    font-size: 14vw;
}
}

/* ================ */
/* STUFF */
/* ================ */

.ifpernah {
    font-size: 15pt;
    cursor: pointer;
    font-family: 'Ubuntu';
    font-weight: 400;
    padding: 7pt;
    background: #57e87ac9;
    text-align: center;
    width: 50%;
    border-radius: 6pt;
    margin-top: 10pt;
    letter-spacing: 1pt;
    transition: all 0.5s ease;
    mix-blend-mode: hard-light;
}
.ifpernah:hover {
    background: #b9ffcac9;
    mix-blend-mode: color-dodge;
    letter-spacing: 5pt;

}
.ifpernah:before {
    content: 'SKIP > >';
}

.updatedate {
    /* position: fixed; */
    /* bottom: 20px; */
    /* left: 0; */
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #e6e6e6a6;
    mix-blend-mode: normal;
}
