body {
  background-color: #12021F;
  margin: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family:'Ubuntu';
  overflow:hidden;
}

body::before {
  content: "";  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

.bodymainindex {
	overflow-x:hidden;
	overflow-y:hidden;
}
a {
	text-decoration:none;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #44007975;
    padding: 20pt;
    border-radius: 13pt;
    box-shadow: 5pt 5pt #ffffff3d;
    border: 3pt solid white;
    max-width: 80%;
}
#logo {
	/* margin-bottom: 20px; */
	position: fixed;
	margin: 0 auto;
	z-index: -1;
}

#logo img {
	width: 100px;
	opacity: 0.8;
}

img.kakki {
    position: absolute;
    width: 138px;
    filter: brightness(0.9) contrast(0.9) blur(0.5px);
    translate: 0% -100%;
}
div#fansub {
    padding-top: 5pt;
    font-size: 29pt;
    color: #e8e8e8;
    font-weight: 600;
    padding-bottom: 10pt;
    /* mix-blend-mode: overlay; */
    /* text-shadow: 0pt 0pt 20px black; */
}

#motto {
    margin-bottom: 20px;
    font-size: small;
    opacity: 0.5;
}

#buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

#site-map {
  background-color: #6A0572;
  color: #FFF8DC;
}

#ensiklopedia {
  background-color: #FFF8DC;
  color: #6A0572;
}

#latest-update {
  text-align: left;
  max-width: 600px;
}
	
	
.buttonindex {
	cursor: pointer;
    border: 2pt solid white;
    border-radius: 3pt;
    padding: 5pt;
    width: 20%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 0.3s; */
}	

.buttonindex:hover {
    width: 25%;
    border: 2pt solid #6a0572a3;
	background: #6a0572a3;
    border-radius: 5pt;
}


/* ================ */
/* FORM PASSWORD */
/* ================ */


#passwordForm {
    /* background-color: red; */
}
input {
    border: 2px solid #ffffffcf;
    border-radius: 10px 0px 0px 10px;
    background-color: #ffffffcf;
    background-repeat: no-repeat;
    width: 75%;
    height: 60px;
    font-size: larger;
    color: #440079;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Ubuntu';
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    cursor: text;
    /* mix-blend-mode: color-dodge; */
}

input:focus {
  background-color: #ffffff;
}
.okbutton {
    border-radius: 0px 10px 10px 0px;
    background-color: #a749f1;
    border: 0;
    width: 20%;
    height: 60px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Ubuntu';
    text-align: center;
    /* mix-blend-mode: color-dodge; */
    transition: background-color 0.5s ease-in-out;
    font-size: 13pt;
}
.okbutton:before {
    content:'OK';
}
.okbutton:hover {
    background-color: #d974e1;
}


/* ================ */
/* STUFF */
/* ================ */

.ifpernah {
    font-size: 12pt;
    padding: 10pt;
    background: #d974e140;
    text-align: center;
    width: 86%;
    border-radius: 10pt;
    margin-top: 10pt;
	transition: background 1s ease;
}

.ifpernah:hover {
    background: #d974e1c7;
}
.updatedate {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #e6e6e65e;
}
