 :root {
    --color-main: 68, 0, 121;			/* #440079 */
    --color-main-dark1: 11, 0, 19;	/* #0B0013 */
    --color-main-dark2: 39, 0, 70;	/* #270046 */
    --color-main-mid: 97, 0, 172; 		/* #6100AC */
    --color-main-bright: 125, 0, 223; /* #7D00DF */
    --color-main-light: 152, 19, 255; /* #9813FF */
    font-family: "Funnel Display", serif;
}
 /* Resetting and Base Styling */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navbar Styling */
.navbar {
    color: white;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    text-wrap: nowrap;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar-scrolled {
    width: 80%;
    border-radius: 10pt;
    top: 10pt;
    background-color: rgba(var(--color-main), 0.9);
    margin: 0 auto; /* Tambahkan untuk memastikan tetap di tengah */
}


.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Pastikan mengikuti lebar parent */
}
.navbar-centered {
    margin: 0 auto;
    transform: none; /* Reset transform jika diperlukan */
}


  .nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .nav-links li {
    margin: 0 15px;
  }

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 20px 5px;
    transition: background-color 0.3s ease;
    font-size: 10pt;
}

  .nav-links a:hover,
  .nav-links a:hover ul {
    background-color: rgb(var(--color-main-mid));
  }

  .navdropdown {
    position: relative;
  }
  
.navsubmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: rgb(var(--color-main));
    flex-direction: column;
    min-width: 200px;
    margin-top: 13pt;
}
.navsubmenu a:before {
    content: "....";
	color:transparent;
}

  .navdropdown:hover {
    background-color: rgb(var(--color-main-mid));
  }
  .navdropdown:hover .navsubmenu {
    display: flex;
  }

  
  /* ------------------ */
  /* ------------------ */
  /* ------------------ */
  
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}
  
  
  
  /* ------------------ */
  /* ------------------ */
  /* ------------------ */

	/* Logo Styling */
  .logo {
    width: 200px;
    height: auto;
    padding-top: 5pt;
    transition: all 0.5s ease;
}
  .logo-scrolled {
    width: 120px;
    height: auto;
    padding-top: 5pt;
}


.searchbar {
    background-color: rgb(var(--color-main-mid));
    border-radius: 15pt;
    padding: 5pt;
    width: auto;
    height: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.searchbar:before{
content:"Search";
	padding-left:10pt;
	padding-right:10pt;
}

.searchbar-scrolled {
    background-color: rgb(var(--color-main-mid));
    border-radius: 15pt;
    padding: 5pt;
	padding-left:0pt;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.searchbar-scrolled:before{
content:"";
	padding-left:0pt;
	padding-right:0pt;
}
.searchbar:hover {
	background-color: rgb(var(--color-main-light));
}


  /* Hamburger Icon */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
	/* -------------- */
	/* Sidebar Menu Styling for Mobile */
	/* -------------- */
	
.sidebar {
    position: fixed;
    top: 0;
    left: -50%;
    width: auto;
    height: 100%;
    background-color: rgb(var(--color-main),0.95);
    color: white;
    padding-top: 20px;
    padding-right: 10pt;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
}

  .sidebar.active {
    left: 0; /* Slide in from the left */
  }

.sidebar .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}

  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s ease;
  }

  .sidebar a:hover {
    background-color: rgb(var(--color-main-mid));
  }

  /* Submenu Styling */
  .submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
  }

  .dropdown.active .submenu {
    display: flex;
  }

  /* Arrow Icon */
.dropdown > a::after {
    content: " ▼";
	color: rgb(var(--color-main-light));
    font-size: 0.8em;
    margin-left: 5px;
    position: absolute;
    right: 7px;
    padding-right: 5pt;
}

  .dropdown.active > a::after {
    content: " ▲";
  }

  /* Responsive */
  @media (max-width: 768px) {
    .navbar {
      justify-content: center; /* Center the logo */
    }

	.navbar .nav-links {
		display:none;
	}
    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .hamburger {
      display: flex; /* Show hamburger menu on mobile */
      position: absolute;
      left: 10px;
    }
  }
