body {
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}
#headSiteMap {
    font-size: 32pt;
    font-weight: bold;
    padding-top: 100pt;
	text-align: center;
}
.whatsnewbox {
    color: white;
    background-color: #24043f99;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin: auto;
    padding: 20pt;
    margin-top: 20pt;
    border: 3pt solid white;
    border-radius: 10pt;
    box-shadow: 10px 10px 0px 0px rgb(255 255 255 / 25%);
    -webkit-box-shadow: 10px 10px 0px 0px rgb(255 255 255 / 25%);
    -moz-box-shadow: 10px 10px 0px 0px rgb(255 255 255 / 25%);
}

.flexA img {
    max-width: 500px;
    margin-right: 20pt;
}

.flexB .titlenew {
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

.flexB p {
    font-size: 18pt;
    font-weight: 300;
    text-align: justify;
    text-align-last: left;
}

@media (min-width: 0px) and (max-width: 720px) {
	.category-flex {
		width: 80%;
	}

	.flex-container {
		flex-direction: row;
	}
	.button-container {
		flex-direction: column;
	}
	.button-container a {
		width: 100%;
	}

	.button-text {
		left: 15px;
		top: 37%;
		width: 70%;
		font-size: 14pt;
	}
}

@media (min-width: 720px) and (max-width: 1280px) {
	.button-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		gap: 7pt;
		justify-content: center;
		/* background-color: #ffff001f; */
		/* border: 2pt solid white; */
	}
	.button-text {
		font-size: 18px;
	}
	
	.button-container a {
		width: 48%;
	}
}