
/* ------------------------------------------ */
/* Sidebar - About me */
/* ------------------------------------------ */


.aboutmoe {
	text-align:justify; 
	text-align-last:center; 
	font-size:10pt; 
	padding-top:10pt; 
	line-height:15pt;
}

/* ------------------------------------------ */
/* Sidebar - Trakteer */
/* ------------------------------------------ */
.trakteer-tenagangesub, .trakteer-marquee, .trakteer-topsupporter {
	border-radius: 8pt;
	border:0 solid black;
	}
	
@media (max-width: 1280px) {
	.trakteer-tenagangesub, .trakteer-marquee, .trakteer-topsupporter {
		display: none;
	}
}

/* ------------------------------------------ */
/* Sidebar - Project */
/* ------------------------------------------ */

.myproject {
    border: 3pt solid white;
    border-radius: 8pt;
    padding: 8pt;
    color: white;
    height: 300px;
    background-color: #f0f8ff0f;
    transition: background-color .5s ease-in-out;
}

.myproject:hover {
	background-color: #ffffff26;
}


.myproject p {
    margin: 0 auto;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    transition: color .5s ease-in-out;
}

.scrollable {
    height: calc(100% - 31pt);
    width: 106%;
    overflow-y: hidden;
    transition: overflow .5s ease-in-out;
    padding-top: 6pt;
    padding-left: 5pt;
    /* background-color: black; */
    margin-top: 7pt;
    margin-left: -8pt;
}

.scrollable:hover {
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 1em;

}

.scrollable::-webkit-scrollbar-thumb {
    background-color: white;
	transition: background-color .5s ease-in-out;
}
.scrollable ul {
    padding-left: 15pt;
    list-style: circle;
}

.scrollable ul li {
    padding-bottom: 8pt;
}

@media screen and (max-width: 1280px) {
.scrollable {
	width: 103%;
    overflow-y: scroll;
	}

}


/* ------------------------------------------ */
/* Sidebar - SNS */
/* ------------------------------------------ */


.widget-content {
    display: flex;
    float: left;
    width: 100%;
    margin: 0;
    padding-top: 20pt;
    justify-content: center;
}

ul.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0 0;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    padding-left: 3pt;
    padding-bottom: 2pt;
    gap: 8pt;
}

.social-icons div {
    float: left;
    margin: 5px 13px 0 0;
}
.social-icons div a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #e5e5e5;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    border: 2pt solid #e5e5e5;
    border-radius: 9pt;
}

.social a:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: 400;
}
.social div {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social .blogger a:before{content:'\f37d'}
.social .facebook a:before{content:'\f09a'}
.social .facebook-f a:before{content:'\f39e'}
.social .xtwitter a:before{content:'\e61b'}
.social .rss a:before{content:'\f09e';font-family:'Font Awesome 5 Free';font-weight:900}
.social .youtube a:before{content:'\f167'}
.social .skype a:before{content:'\f17e'}
.social .stumbleupon a:before{content:'\f1a4'}
.social .tumblr a:before{content:'\f173'}
.social .vk a:before{content:'\f189'}
.social .stack-overflow a:before{content:'\f16c'}
.social .github a:before{content:'\f09b'}
.social .linkedin a:before{content:'\f0e1'}
.social .dribbble a:before{content:'\f17d'}
.social .soundcloud a:before{content:'\f1be'}
.social .behance a:before{content:'\f1b4'}
.social .digg a:before{content:'\f1a6'}
.social .instagram a:before{content:'\f16d'}
.social .pinterest a:before{content:'\f0d2'}
.social .pinterest-p a:before{content:'\f231'}
.social .twitch a:before{content:'\f1e8'}
.social .delicious a:before{content:'\f1a5'}
.social .codepen a:before{content:'\f1cb'}
.social .flipboard a:before{content:'\f44d'}
.social .reddit a:before{content:'\f281'}
.social .whatsapp a:before{content:'\f232'}
.social .messenger a:before{content:'\f39f'}
.social .snapchat a:before{content:'\f2ac'}
.social .telegram a:before{content:'\f3fe'}
.social .discord a:before{content:'\f392'}
.social .share a:before{content:'\f064';font-family:'Font Awesome 5 Free';font-weight:900}
.social .email a:before{content:'\f0e0';font-family:'Font Awesome 5 Free'}
.social .external-link a:before{content:'\f35d';font-family:'Font Awesome 5 Free';font-weight:900}

.social-bg .blogger a,.social-bg-hover .blogger a:hover{border:0pt; background-color:#f30}
.social-bg .facebook a,.social-bg .facebook-f a,.social-bg-hover .facebook a:hover,.social-bg-hover .facebook-f a:hover{border:0pt; background-color:#3b5999}
.social-bg .xtwitter a,.social-bg-hover .xtwitter a:hover{border:0pt; background-color:black}
.social-bg .youtube a,.social-bg-hover .youtube a:hover{border:0pt; background-color:#f50000}
.social-bg .instagram a,.social-bg-hover .instagram a:hover{border:0pt; background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)}
.social-bg .pinterest a,.social-bg .pinterest-p a,.social-bg-hover .pinterest a:hover,.social-bg-hover .pinterest-p a:hover{border:0pt; background-color:#ca2127}
.social-bg .dribbble a,.social-bg-hover .dribbble a:hover{border:0pt; background-color:#ea4c89}
.social-bg .linkedin a,.social-bg-hover .linkedin a:hover{border:0pt; background-color:#0077b5}
.social-bg .tumblr a,.social-bg-hover .tumblr a:hover{border:0pt; background-color:#365069}
.social-bg .twitch a,.social-bg-hover .twitch a:hover{border:0pt; background-color:#6441a5}
.social-bg .rss a,.social-bg-hover .rss a:hover{border:0pt; background-color:#ffc200}
.social-bg .skype a,.social-bg-hover .skype a:hover{border:0pt; background-color:#00aff0}
.social-bg .stumbleupon a,.social-bg-hover .stumbleupon a:hover{border:0pt; background-color:#eb4823}
.social-bg .vk a,.social-bg-hover .vk a:hover{border:0pt; background-color:#4a76a8}
.social-bg .stack-overflow a,.social-bg-hover .stack-overflow a:hover{border:0pt; background-color:#f48024}
.social-bg .github a,.social-bg-hover .github a:hover{border:0pt; background-color:#24292e}
.social-bg .soundcloud a,.social-bg-hover .soundcloud a:hover{border:0pt; background:linear-gradient(#ff7400,#ff3400)}
.social-bg .behance a,.social-bg-hover .behance a:hover{border:0pt; background-color:#191919}
.social-bg .digg a,.social-bg-hover .digg a:hover{border:0pt; background-color:#1b1a19}
.social-bg .delicious a,.social-bg-hover .delicious a:hover{border:0pt; background-color:#0076e8}
.social-bg .codepen a,.social-bg-hover .codepen a:hover{border:0pt; background-color:#000}
.social-bg .flipboard a,.social-bg-hover .flipboard a:hover{border:0pt; background-color:#f52828}
.social-bg .reddit a,.social-bg-hover .reddit a:hover{border:0pt; background-color:#ff4500}
.social-bg .whatsapp a,.social-bg-hover .whatsapp a:hover{border:0pt; background-color:#3fbb50}
.social-bg .messenger a,.social-bg-hover .messenger a:hover{border:0pt; background-color:#0084ff}
.social-bg .snapchat a,.social-bg-hover .snapchat a:hover{border:0pt; background-color:#ffe700}
.social-bg .telegram a,.social-bg-hover .telegram a:hover{border:0pt; background-color:#179cde}
.social-bg .discord a,.social-bg-hover .discord a:hover{border:0pt; background-color:#7289da}
.social-bg .share a,.social-bg-hover .share a:hover{border:0pt; background-color:var(--meta-color)}
.social-bg .email a,.social-bg-hover .email a:hover{border:0pt; background-color:#888}
.social-bg .external-link a,.social-bg-hover .external-link a:hover{border:0pt; background-color:var(--button-hover-bg)}
