.whatsnew {
    margin: 0 auto;
    margin-top: 20pt;
    position: relative;
    border: 3pt solid white;
    border-radius: 20pt;
    width: 70%;
    padding: 10pt;
    color: bisque;
    align-items: center;
    background-color: rgba(var(--color-main-dark2),0.7);
    text-align: center;
}

.titlenew {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}
.titlenew span {
    padding: 0;
}

.update-header, .update-note {
    width: 100%;
    text-align: center;
    margin-bottom: 10pt;
}
.update-header {
    font-size: 60pt;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: url('../sprite/shine.webp');
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
}
.update-header:before {
    content: 'UPDATE';
}

.update-date {
    font-size: 14pt;
    font-weight: bold;
    color: bisque;
}


.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links-container a {
    display: flex;
    font-size: 14pt;
    font-weight: bold;
    color: aliceblue;
    padding: 15pt 5pt;
    margin: 1px;
    transition: color .5s ease-in-out;
    text-align: center;
    width: 24%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.links-container a:hover {
    color: rgb(var(--color-main-light));
}


.links-container a img {
    border-radius: 5pt;
	width: 100%;
	margin-bottom:10pt;
	animation: scaleAnimation 5s ease-in-out infinite;
    transition: filter 0.3s ease-in-out;
}


.links-container a:hover img {
    filter: brightness(1.2);
}


@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.99);
    }
}

/* .links-container a:before { */
    /* content: '\f5bc'; */
    /* font-family: 'FontAwesome'; */
    /* color: red; */
    /* padding-right: 8pt; */
    /* font-weight: 700; */
    /* display: flex; */
    /* flex-direction: row; */
    /* animation: whatsnew .5s ease-in-out infinite; */
/* } */

@keyframes whatsnew {
    0% {
        color: #8b00ff;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #8b00ff;
    }
}

@media (min-width: 0px) and (min-width: 721px) and (max-width: 1280px) {

    .links-container a {
        width: 48%;
        text-align: center;
        padding-bottom: 0pt;
    }
}

@media (min-width: 0px) and (max-width: 720px) {
    .whatsnew {
        width: 80%;
        padding: 8pt;
        font-size: 14pt;
    }
    .links-container {
        flex-direction: column;
    }
    .links-container a {
        width: 95%;
        text-align: center;
        padding-bottom: 0pt;
    }
    .links-container a:before {
        padding-right: 4pt;
        font-size: 11pt;
    }
}
