.voting-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 5pt solid white;
    border-radius: 19px;
    background: rgb(157 27 255 / 41%);
    padding: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    animation: kelapkelip 3s infinite;
}

@keyframes kelapkelip {
  0%, 33% { 
		background: rgb(var(--color-main), 50%);
		border: 5pt solid white;
		}
  33%, 66% { 
		background: rgb(var(--color-main-dark1), 80%);
		border: 5pt solid DodgerBlue;
		}
  66%, 100% { 
		background: rgb(var(--color-main), 50%);
		border: 5pt solid white;
		}
}

.voting-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 105%;
    z-index: -1;
    background-size: cover;
    animation: fadeImages 10s infinite;
    opacity: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position-anchor: auto;
}

@keyframes fadeImages {
  0%, 32% { background-image: url('https://hochi.news/images/2021/05/09/20210509-OHT1I51183-L.jpg'); }
  33%, 66% { background-image: url('https://www.nogizaka46.com/files/46/_pre/blog/mayu.tamura/img/2021/05/10/4720157/0000.jpeg'); }
  68%, 98% { background-image: url('https://n46db.com/inc/imagejpeg-sha.php?pic=20220518tomisato-3yKi3eg-cropped.jpg'); }
}

.teks-judul {
    color: white;
    font-size: 2em;
    font-weight: bold;
    animation: kelapcolor 2s infinite;
}

.teks-judul:before {
    content: "🎶 Nogizaka46 Indonesia Fans' Choice 2024 🎶";
}

@keyframes kelapcolor {
  0%, 33% { 
		color: white;
		}
  33%, 66% { 
		color: Thistle;
		}
  66%, 100% { 
		color: white;
		}
}

.teks-deskripsi {
    color: white;
    font-size: 1.6em;
    margin: 10px 0;
    text-align: center;
}

.voting-button {
	background-color: rgb(var(--color-main));
	color: white;
	padding: 10px 20px;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
	width: 70%;
    border: 5pt solid white;
	border-radius: 15px;
	margin: 15px 0;
	cursor: pointer;
	transition: all 0.5s ease;
}

.voting-button:before {
	content: "IKUT VOTING!"
}
.voting-button:hover {
	width: 80%;
	background-color: white;
    border: 5pt solid rgb(var(--color-main));
	color: rgb(var(--color-main));
}

.countdown {
  font-size: 1.1em;
  margin-top: 15px;
  text-align: center;
}


@media (min-width: 0px) and (max-width: 720px) {
    .voting-container {
        width: 80%;
    }
	.teks-judul {
		font-size: 2em;
	}
	
	.teks-judul:before {
		content: "Nogizaka46 Indonesia Fans' Choice 2024";
	}

	.teks-deskripsi {
		font-size: 1.1em;
		text-align: justify;
		text-align-last: center;
	}
	.voting-button {
		font-size: 1.3em;
		width: 85%;
		border: 3pt solid white;
	}
	.voting-button:hover {
		width: 95%;
		border: 3pt solid rgb(var(--color-main));
	}
}

