body {
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* body::-webkit-scrollbar { */
	/* display: none; */
/* } */

#headSiteMap {
    font-size: 32pt;
    font-weight: bold;
    padding-top: 100pt;
	text-align: center;
}

/* ================================= */

.stats {
	display: none;
    z-index: 1000;
    position: absolute;
    left: -15px;
    top: 4pt;
    font-weight: bold;
    padding: 3pt;
    border-radius: 5pt;
    font-size: 10pt;
}

.progress { background: #1c8345d9;}
.complete { background: #1ea3bed9;}
.uncontie { background: #be1e2dd9;}
.done { background: #57e87ad9;}


.progress:before { content: 'ONGOING';}
.complete:before { content: 'COMPLETE';}
.uncontie:before { content: 'DROP';}
.done:before { content: 'DONE';}

/* ================================= */

.caption {
    width: 60%;
    font-size: 12pt;
	font-weight:100;
    text-align: center;
    margin: 0 auto;
}
.caption span {
	color:#c075e0;
}

/* ================================= */

.st-categorytitle {
    font-size: 24pt;
    font-weight: normal;
    padding-top: 15pt;
    padding-bottom: 15pt;
    text-align: center;
}


.flex-container {
    justify-content: center;
    width: 70%;
    display: contents;
    /* background-color: #ff010147; */
    margin-top: 30pt;
    transform: translate(-50%, -50%);
}
.category-flex {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 35pt;
    border: 5pt solid #440079;
    border-radius: 20pt;
    padding: 20pt 5pt 20pt 5pt;
    transition: all 0.3s ease-in-out;
}
.category-flex:hover {
    width: 72%;
    overflow: visible;
    background: #8b00ff30;
    border: 5pt solid #8b00ff;
}

.button-container {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 12pt;
    width: 100%;
    flex-wrap: wrap;
    gap: 7pt;
    justify-content: center;
	margin-top: 10pt;
}
.button-container a {
	position: relative;
	width: 32%;
}

.belomada {
	filter:grayscale(1) brightness(0.2);
	cursor: not-allowed;
	caret-color: red;
}

.button-container img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
	border-radius: 15pt;
}

.button-container a:hover img {
	filter: brightness(0.5) contrast(1.2) saturate(0.5);
	border: 3pt solid #4d008d;
	border-radius: 15pt;
	/* transform: translateY(-8px); */
	transform: scale(95%);
}

.button-text {
    text-align: left;
    margin: 0;
    text-shadow: 0px 0px 11px rgb(0 0 0);
    color: white;
    position: absolute;
    left: 3%;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* border: 2pt solid red; */
    font-size: 1.1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
}

.button-container a:hover .button-text {
	/* transform: translateY(-8px); */
	transform: scale(110%);
    left: 10%;
}
.pengumuman {
    margin: 0 auto;
    width: 65%;
    color: white;
    background: #043f3ac2;
    padding: 15pt;
    border-radius: 10pt;
    border: 3pt solid white;
    font-size: 18pt;
}
.pengumuman i {
    padding-right: 15pt;
}


@media (min-width: 0px) and (max-width: 720px) {
	.category-flex {
		width: 85%;
		padding: 20pt 10pt 20pt 10pt;
	}
	.category-flex:hover {
		width: 85%;
	}
	.flex-container {
		flex-direction: row;
	}
	.button-container {
		flex-direction: column;
	}
	.button-container a {
		width: 100%;
	}
	.button-text {
		font-size: 13pt;
	}
}

@media (min-width: 720px) and (max-width: 1280px) {
	.button-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		gap: 7pt;
		justify-content: center;
		/* background-color: #ffff001f; */
		/* border: 2pt solid white; */
	}
	.button-text {
		font-size: 18px;
	}
	
	.button-container a {
		width: 48%;
	}
}