.whatsnew {
    display: flex;
    margin: 0 auto;
    margin-top: 20pt;
    position: relative;
    border: 3pt solid white;
    border-radius: 10pt;
    width: 40%;
    padding: 10pt;
    font-size: 20pt;
    font-weight: bold;
    color: bisque;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #320d5154;
}

.whatsnew a {
    display: flex;
    font-size: smaller;
    font-weight: 100;
    color: aliceblue;
    justify-content: start;
    padding-right: 23pt;
    padding-bottom: 5pt;
    padding-top: 5pt;
    margin: 1px auto;
    transition: color .5s ease-in-out;
}

.whatsnew a:hover {
    color: #8b00ff
}

.whatsnew a:before {
    content: '\f5bc';
	font-family: 'FontAwesome';
    color: red;
    padding-right: 8pt;
    font-weight: 700;
    /* font-size: 12pt; */
    display: flex;
    flex-direction: row;
    animation: whatsnew .5s ease-in-out infinite;
}

@keyframes whatsnew {
  0% {
    color: #8b00ff;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #8b00ff;
  }
}