/* ------------------------------------------ */
/* IMPORTED - Cara pake & Warning */
/* ------------------------------------------ */



/*  efek fade */
.stepspoil {
	display:none;
	transition: opacity 0.5s ease-in-out;
}

.stepspoil.show {
	display:block;
}


/*  pengaturan utama */

.carapake_softsub, .carapake_hardsub, .password_garapan, .masalah_unduh {
    padding-top: 8pt;
    padding-bottom: 8pt;
    padding-left: 12pt;
    padding-right: 12pt;
    border-radius: 10px;
    text-align: justify;
    font-size: 14pt;
    font-weight: 800;
    margin-top: 5pt;
    margin-bottom: 5pt;
	transition: height 1s ease-in-out;
	cursor:pointer;
}

/*  warna tulisan dan background */

.carapake_softsub, .carapake_hardsub {
    background: #2a004bb5;
    color: #b04dff;
}
.password_garapan {
    background: #80240099;
    color: #ff8f17;
}

.masalah_unduh {
    background: #00806299;
    color: #04dfac;
}

/*  pengaturan li */

.carapake_softsub .stepspoil, .carapake_hardsub .stepspoil, .password_garapan .stepspoil, .masalah_unduh .stepspoil {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.carapake_softsub .stepspoil p,
.carapake_hardsub .stepspoil p,
.masalah_unduh .stepspoil p {
	display: list-item;
	list-style-type: bullet;
}

.password_garapan {
     list-style-type:none;
}

/*  pengaturan sstep-step */

[class^="stepsoft"], [class^="stephard"], [class^="problem"] {
    padding-left: 13pt;
    text-align: justify;
    color: white;
    font-weight: 500;
    font-size: 12pt;
    line-height: 20pt;
    margin-top: 5pt;
}


/* ------------------------------------------ */
/* STEP - SOFTSUB */
/* ------------------------------------------ */


.stepsoft1:before {
    content: "Unduh RAW dari berbagai penyedia, atau tombol link yang sudah saya disediakan. Jika sudah ada,  bisa dilewati langkah ini.";
}
.stepsoft2:before {
    content: "Setelah itu, silakan unduh tombol 'Softsub' bila diatas tersedia.";
}
.stepsoft3:before {
    content: "Untuk yang mengunduh via web, sebelum diarahkan ke Google Drive, diharuskan melewati shortlink. Kecuali untuk supporter Trakteer langsung diarahkan.";
}
.stepsoft4:before {
    content: "Setelah unduhan selesai, simpan softsub dengan RAW di folder yang sama, dan berikan nama yang sama juga. Untuk pengguna smartphone, simpan font di folder yang sama juga.";
}
.stepsoft5:before {
    content: "Untuk pengguna PC/Laptop, wajib menginstall font yang terdapat dalam zip softsub (bila tersedia) dan/atau button font (bila tersedia) agar menghindari ketidakcocokan jenis font.";
}
.stepsoft6:before {
    content: "Putar videonya dengan player selain bawaan Windows seperti POTPlayer, MPC, dan lain-lain. Bagi pengguna smartphone, silakan gunakan pemutar seperti VLC atau yang lainnya.";
}

/* ------------------------------------------ */
/* STEP - HARDSUB */
/* ------------------------------------------ */


.stephard1:before {
    content: "Download file hardsub diatas";
}
.stephard2:before {
    content: "Untuk yang mengunduh via web, sebelum diarahkan ke Google Drive, diharuskan melewati shortlink. Kecuali untuk supporter Trakteer langsung diarahkan.";
}
.stephard3:before {
    content: "Bila berekstensi zip, silakan ekstrak menggunakan 7Zip/WinRar (PC) ZArchiver (Smartphone).";
}

/* ------------------------------------------ */
/* PROBLEM */
/* ------------------------------------------ */


.problem1:before {
    content: "Jika saat menekan tombol diatas dan error sebelum masuk ke Google Drive, maka penyedia shortlink sedang dalam maintenance, dan saya tidak bisa memperbaikinya.";
}
.problem2:before {
    content: "Jika saat mengunduh di Google Drive terkena quota terbatas alias tulisan 'Sorry, you can't view or download this file at this time', mohon untuk sebelumnya hapus cache/history, dan wajib dalam keadaan login akun Google-mu.";
}
.problem3:before {
    content: "Jika saat mengunduh di Google Drive ada error dengan gambar video player crash, maka ada error dari Google Drive, bukan dari saya.";
}
.problem4:before {
    content: "Jika saat mengunduh di Google Drive ternyata salah file/episode, segera infokan lewat sosial media (khususnya Instagram).";
}
.problem5:before {
    content: "Jika saat mengunduh di Google Drive ada error dengan 'That's an error', maka bisa saja saya memasukan link yang salah. Mohon infokan lewat sosial media (khususnya Instagram).";
}
.problem6:before {
    content: "Jika saat mengunduh di Google Drive ada error dengan 'Sorry, unable to open the file at present', maka ada kemungkinan besar file tersebut dihapus, atau terhapus, atau salah memasukan link yang salah. Kasus ini sangat jarang, tapi jika itu terjadi, segera infokan lewat sosial media (khususnya Instagram).";
}
