.inforaw {
    padding: 15pt 20pt 15pt 9pt;
    border-radius: 10px;
    text-align: justify;
    font-size: 14pt;
    font-weight: 100;
    margin-top: 5pt;
    margin-bottom: 5pt;
    transition: height 1s ease-in-out;
    background: #168dc582;
    color: white;
    display: flex;
    align-items: center;
}

.inforaw i {
    font-size:19pt;
    padding-right: 10pt;
}
.inforaw span {
    display:flex;
}
.rawAidoru:before {
    content: "Garapan ini bisa menggunakan RAW baik dari Aidoru, Misaka, ataupun Akari46. Jika kamu mengunduh di tempat penyedia RAW lainnya dan tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}
.rawChr0:before {
    content: "Garapan ini menggunakan RAW dari Chr0balord46. Softsub-nya bisa kamu pakai dari tempat penyedia RAW lainnya. Bila tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}
.rawBilibili:before {
    content: "Garapan ini menggunakan RAW dari Bilibili. Softsub-nya bisa kamu pakai dari tempat penyedia RAW lainnya. Bila tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}

.rawBagikuy:before {
    content: "Garapan ini menggunakan RAW dari Bagikuy. Softsub-nya bisa kamu pakai dari tempat penyedia RAW lainnya. Bila tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}

.rawYoutube:before {
    content: "Garapan ini menggunakan RAW dari YouTube. Softsub-nya bisa kamu pakai dari tempat penyedia RAW lainnya. Bila tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}

.raw46idol:before {
    content: "Garapan ini menggunakan RAW dari 46idol. Softsub-nya bisa kamu pakai dari tempat penyedia RAW lainnya. Bila tidak cocok timing-nya, harap atur sendiri di player masing-masing ya~";
}